.favorites-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.favorites-download-all {
  all: unset;

  background: #1db954;
  border: none;
  padding: 8px 10px;

  border-radius: 6px;

  font-size: 13px;
  color: white;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.favorites-download-all:hover {
  background: #1ed760;
}

/* FAVORITE ITEM */

.favorite-item {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 8px;
  border-radius: 8px;

  cursor: pointer;
}

.favorite-item:hover {
  background: #2a2a2a;
}

.favorite-art {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.favorite-text {
  flex: 1;
}

.favorite-title {
  font-size: 13px;
}

.favorite-artist {
  font-size: 11px;
  color: #aaa;
}

.favorite-remove-btn {
  border: none;
  background: #2a2a2a;

  width: 26px;
  height: 26px;

  border-radius: 6px;

  color: white;
  font-size: 14px;

  cursor: pointer;
}

.favorite-remove-btn:hover {
  background: #444;
}

.favorites-empty {
  color: #888;
  font-size: 13px;
}
